<launch>
    
    <!-- Arguments, can be passed in using command line -->
    <arg name="bag_file"        default="2023-05-25-14-21-10_sensors_Raekoda.bag" doc="bag file to play" />
    <arg name="interval"        default="1.0"                 doc="Distance between recorded waypoints" />
    <arg name="waypoints_file"  default="waypoints_1m.csv"    doc="waypoints file name" />

    <param name="/use_sim_time" value="true" />

    <!-- Nodes -->
    <!-- Play rosbag -->
    <node pkg="rosbag" type="play" name="player" required="true" args="--clock --delay 3 $(find autoware_mini_tutorial)/shared/data/bags/$(arg bag_file)" >
        <!-- The bag already contains recorded map->base_link transforms, remap them so they don't conflict with the transform published by the localizer -->
        <remap from="/tf" to="/tf_recorded" />
    </node>

    <!-- Localizer -->
    <group ns="localization">
        <node pkg="autoware_mini_tutorial" type="localizer.py" name="localizer" output="screen" required="true" />
    </group>

    <group ns="planning">
        <!-- Waypoint saver -->
        <node pkg="autoware_mini" type="waypoint_saver.py" name="waypoint_saver" output="screen" required="true" >
            <param name="interval"          value="$(arg interval)" />
            <param name="waypoints_file"    value="$(find autoware_mini)/data/trajectories/$(arg waypoints_file)" />
        </node>
    </group>
    <!-- Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autoware_mini_tutorial)/lesson2/rviz/lesson2.rviz" required="true" />

    <!-- Config -->
    <rosparam command="load" file="$(find autoware_mini_tutorial)/shared/config/localization.yaml" ns="localization"/>

</launch>
